<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Arthy Hotel</title>
    <link rel="icon" type="image/png" href="{% static 'photos/Logo.png' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <style>
    body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      background-color: #161617;
    }
    .navbar {
      background-color: #343434 !important; /* Use your hex code */
    }
    .hero-section {
      padding: 20px;
      background: #343434;
      color: #e6b31e;
      border-radius: 10px;
      margin-top: 30px;
    }
    .hero-section h1 {
      font-size: 2.5rem;
      font-weight: bold;
    }
    .hero-section p {
      font-size: 1.2rem;
      margin-top: 20px;
    }
    .room-section {
      padding: 20px;
      background: #343434;
      color: #e6b31e;
      border-radius: 10px;
      margin-top: 30px;
    }
    .card {
      background-color: #282828;
      color: #e6b31e;
      border: none;
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <img
          src="{% static 'photos/Logo.png' %}"
          alt="Hotel Logo"
          width="63"
          height="42"
          class="d-inline-block align-text-top"
        />
        <a class="navbar-brand" href="#" style="color: #e6b31e">Arthy Hotel</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'hotel_welcome' %}"
                style="color: #e6b31e"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: #e6b41ea3">Rooms</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="color: #e6b41ea3"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link disabled"
                aria-disabled="true"
                style="color: #e6b41e3c"
                >Disabled</a
              >
            </li>
          </ul>
          <a class="btn btn-warning" href="{% url 'login' %}">Login</a>
          <a
            class="btn btn-outline-warning m-1 mb-0 mt-0"
            href="{% url 'register' %}"
          >
            Register
          </a>
        </div>
      </div>
    </nav>
    <section
      class="hero-section container py-5 px-4 d-flex align-items-center flex-wrap rounded"
    >
      <div class="hero-text col-md-6 pe-md-5 mb-4 mb-md-0">
        <img
          src="{% static 'photos/Logo.png' %}"
          alt="Hotel Logo"
          width="310"
          height="210"
          class="d-inline-block align-text-top mb-3"
        />
        <h1>Welcome to Arthy Hotel</h1>
        <p>
          Experience the epitome of luxury and comfort at Arthy Hotel. Nestled
          in the heart of the city, our hotel offers a blend of elegance and
          modern amenities to ensure an unforgettable stay. Whether you're here
          for business or leisure, our dedicated staff is committed to providing
          you with exceptional service and a memorable experience. Book your
          stay with us today and discover the perfect blend of sophistication
          and warmth.
        </p>
      </div>
      <div class="hero-image col-md-6 text-center">
        <img
          src="{% static 'photos/hotel.png' %}"
          alt="Hotel Image"
          class="img-fluid"
        />
      </div>
    </section>

    <section class="room-section container flex-wrap rounded">
      <h2 class="text-center mb-4" style="color: #e6b31e">Our Rooms</h2>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a
          type="button"
          href="{% url 'login' %}"
          class="btn btn-outline-warning mb-3"
        >
          View All ->
        </a>
      </div>
      <div class="card-group">
        {% for room in rooms %}
        <div class="card">
          {% if room.roomPic %}
          <img
            src="{{ room.roomPic.url }}"
            class="card-img-top"
            alt="{{ room.roomType }}"
          />
          {% else %}
          <img
            src="{% static 'photos/default_room.jpg' %}"
            class="card-img-top"
            alt="Default Room Image"
          />
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ room.roomNo }}</h5>
            <p class="card-text">
              Type: {{ room.roomType }} <br />
              Price: ${{ room.price }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <!-- Footer -->
    <footer class="text-center mt-5 mb-3" style="color: #e6b31e">
      &copy; 2026 Arthy Hotel. All rights reserved.
      <br />
      <a href="#" style="color: #e6b31e">Privacy Policy</a> |
      <a href="#" style="color: #e6b31e">Terms of Service</a>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
